{
	"singleQuote": true,
	"useTabs": false,
	"tabWidth": 2,
	"trailingComma": "all",
	"printWidth": 250,
	"arrowParens": "always",
	"endOfLine": "crlf",
	"vueIndentScriptAndStyle": true,
	"semi": true,
	"ignorePath": ".prettierignore"
}